<%- include("partials/header") -%>
  <h1>Post</h1>
  <p>
    <ul>
      <%
      posts.forEach(function(element) {
        %>
        <li><%= element.title %></li>
        <p><%= element.content %></p>
        <%
      });
      %>
    </ul>
  </p>

  <a href="/compose" class="btn btn-primary">New Post</a>

<%- include("partials/footer") -%>
